<div class="container">
    <div class="new-theme-border">
        <div class="header-background">
            <span>Edit Song</span>
        </div>
        <img src="../../../assets/simpleIcon.png" alt="simpleIcon">
        <form #form="ngForm" method="post" enctype='multipart/form-data' (ngSubmit)="editSong(form)">
            <div class="new-theme-title">
                <label for="themeName">Song Name: </label>
                <input #nameInput="ngModel" [(ngModel)]="item.name" type="text" name="name" id="name" required minlength="2" >
                <ng-container *ngIf="nameInput.touched">
                    <p class="error" *ngIf="nameInput.errors?.required">
                        Theme name is required.
                    </p>
                    <p class="error" *ngIf="nameInput.errors?.minlength">
                        Theme name must be at least 2 characters long.
                    </p>
                </ng-container>
            </div>
            <div class="new-theme-title">
                <label for="themeName">Artist: </label>
                <input #artistInput="ngModel" [(ngModel)]="item.artist" type="text" name="artist" id="artist" required minlength="3">
                <ng-container *ngIf="artistInput.touched">
                    <p class="error" *ngIf="artistInput.errors?.required">
                        Theme artist is required.
                    </p>
                    <p class="error" *ngIf="artistInput.errors?.minlength">
                        Theme artist must be at least 3 characters long.
                    </p>
                </ng-container>
            </div>
            <div class="new-theme-buttons">
                <button type="button" routerLink="/" class="cancel">Cancel</button>
                <button type="button" (click)="onDelete(item._id)" class="cancel">Delete</button>
                <button class="public">Edit</button>
            </div>

        </form>
    </div>
</div>