<header>
    <div class="mini-navbar-wrap">
        <nav>
            <ul>
                <li>
                    <a routerLink="/">Home</a>
                </li>
                <li *ngIf="isLogged">
                    <a routerLink="/playlist">Playlist</a>
                </li>
                <li *ngIf="isLogged">
                    <a routerLink="/upload">New Song</a>
                </li>
            </ul>
        </nav>
        
        <div class="logo-wrap">
            <p class="logo"><span class="logo" routerLink="/">Music Player</span></p>
        </div>
        <div class="mini-navbar">
            <ul *ngIf="!isLogged">
                <li>
                    <a routerLink="/user/login">Login</a>
                </li>
                <li>
                    <a routerLink="/user/register">Register</a>
                </li>
            </ul>
            <ul *ngIf="isLogged">
                <!-- <li routerLink="/user/profile">{{username}}'s profile</li> -->
                <li (click)="logout()">Logout</li>
            </ul>
        </div>
    </div>

</header>